.checkButton {
  border: 2px solid var(--blue);
  border-radius: 999px;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  margin-top: 0.6rem;
  padding: 0.4rem;
  transition: 1s;
  background-color: transparent;
}

.checkButton:hover {
  background-color: rgba(30, 111, 159, 0.2);
}
.descriptionParagraphContainer {
  display: flex;
  align-content: center;
  align-items: center;
}
.taskContainer {
  background-color: var(--gray-500);
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  width: 46rem;
  height: 4.8rem;
  border-radius: 8px;
  padding: 1rem;
  border: 1px solid var(--gray-400);
}
.removeButton {
  background-color: transparent;
  border: none;
  color: var(--gray-300);
  margin-bottom: 0.6rem;
  transition: 0.2s;
  padding: 0.1rem 0.3rem;
}
.removeButton svg {
  margin-top: 0.4rem;
}
.removeButton:hover {
  color: var(--danger);
  border-radius: 4px;
  background-color: var(--gray-400);
}
.descriptionContainer {
  display: flex;
  font-size: 0.875rem;
}
